{% extends 'base.html.twig' %}

{% block title %}Création énigme Interpersonnelle{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Création</h3>
                    {{ form_start(interpersonnelleForm) }}
                    <div class="field">
                        {{ form_row(interpersonnelleForm.urlVideo) }}
                    </div>
                    <div class="field">
                        {{ form_row(interpersonnelleForm.solution) }}
                        <button onclick="afficherModalCreateEmoticon()" class="ui button mini">Ajouter un Emoticône</button>
                    </div>
                    <div class="field">
                        {{ form_row(interpersonnelleForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(interpersonnelleForm.save) }}
                    </div>
                    {{ form_end(interpersonnelleForm) }}
                </div>
            </div>
            {#modal#}
            <div class="ui mini modal createEmoticon">
                <div class="ui segment">
                    <h3 class="ui dividing header">Création Émoticône</h3>
                    {{ form_start(emoticonForm) }}
                    <div class="field">
                        {{ form_row(emoticonForm.label) }}
                    </div>
                    <div class="field">
                        {{ form_row(emoticonForm.image) }}
                    </div>
                    <div class="field">
                        {{ form_row(emoticonForm.save) }}
                    </div>
                    {{ form_end(emoticonForm) }}
                </div>
            </div>
            {#modal#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function afficherModalCreateEmoticon() {
            event.preventDefault();
            $('.mini.modal.createEmoticon').modal('show');
        }
        $('#interpersonnelle_form_solution label').each(function() {
            let urlImage = $(this).text().trim();
            $('<img width="75px" src="{{ asset('images/emoticon/') }}' + urlImage + '" alt="image emoticone"/>').insertAfter($(this));
            $(this).remove();
        });
    </script>
{% endblock %}
