{% extends 'base_admin.html.twig' %}

{% block title %}Création énigme Interpersonnelle{% endblock %}

{% block body %}
    <style>
        input[type=radio] {
            display: none;
        }
        .blackAndWhite {
            -webkit-filter: contrast(50%);
            filter: contrast(50%);
        }
    </style>
    <div class="ui grid container">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Création</h3>
                    {{ form_start(interpersonnelleForm) }}
                    <div class="field">
                        {{ form_row(interpersonnelleForm.urlVideo) }}
                    </div>
                    <div class="field">
                        {{ form_row(interpersonnelleForm.solution) }}
                        <button onclick="afficherModalCreateEmoticon()" class="ui button mini">Gestion Emoticône</button>
                    </div>
                    <div class="field">
                        {{ form_row(interpersonnelleForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(interpersonnelleForm.save) }}
                    </div>
                    {{ form_end(interpersonnelleForm) }}
                </div>
            </div>
            {#modal#}
            {% include("interpersonnelle/content/modalEmoticon.html.twig") %}
            {#modal#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#interpersonnelle_form_solution label').each(function() {
                let text = $(this).text().trim();
                let urlImage = text.split('--')[0];
                let label = text.split('--')[1];
                $(this).html('<img width="70px" height="70px" src="{{ asset('images/emoticon/') }}' + urlImage + '" class="popup" alt="image emoticone" data-content="'+ label +'" data-position="top left"/>');
                $(this).prepend($(this).prev());
            });
            transformEmoticonIntoImage();
        });

        function afficherModalCreateEmoticon() {
            event.preventDefault();
            $('.mini.modal.createEmoticon').modal('show');
        }
    </script>
{% endblock %}
