{% extends 'base_admin.html.twig' %}

{% block title %}Modifier énigme Interpersonnelle{% endblock %}

{% block body %}
    <style>
        input[type=radio] {
            display: none;
        }
        .blackAndWhite {
            -webkit-filter: contrast(50%);
            filter: contrast(50%);
        }
    </style>
    <div class="ui grid container">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Modification</h3>
                    {{ form_start(interpersonnelleForm) }}
                    <div class="field">
                        {{ form_label(interpersonnelleForm.urlVideo) }}
                        <iframe width="100%" height="315" src="{{ interpersonnelle.urlVideo }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        {{ form_errors(interpersonnelleForm.urlVideo) }}
                        {{ form_widget(interpersonnelleForm.urlVideo) }}
                    </div>
                    <div class="field">
                        {{ form_row(interpersonnelleForm.solution) }}
                        <button onclick="afficherModalCreateEmoticon()" class="ui button mini">Gestion Emoticône</button>
                    </div>
                    <div class="field">
                        {{ form_row(interpersonnelleForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(interpersonnelleForm.save) }}
                    </div>
                    {{ form_end(interpersonnelleForm) }}
                    <button onclick="afficherModalDelete()" class="ui button">Supprimer</button>
                </div>
            </div>
            {#modal#}
            <div class="ui mini modal trash">
                <div class="header">
                    Suppression
                </div>
                <div class="content">
                    <p>Êtes-vous sûr de vouloir supprimer cette énigme</p>
                </div>
                <div class="actions">
                    <div class="ui negative button">
                        Non
                    </div>
                    <a class="ui positive right labeled icon button" href="{{ path('interpersonnelle_delete', {'id': interpersonnelle.id }) }}">
                        Oui
                        <i class="checkmark icon"></i>
                    </a>
                </div>
            </div>
            {#modal#}
            {#modal#}
            {% include("interpersonnelle/content/modalEmoticon.html.twig") %}
            {#modal#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#interpersonnelle_form_solution label').each(function() {
                let text = $(this).text().trim();
                let urlImage = text.split('--')[0];
                let label = text.split('--')[1];
                $(this).html('<img width="75px" height="75px" src="{{ asset('images/emoticon/') }}' + urlImage + '" class="popup" alt="image emoticone" data-content="'+ label +'" data-position="top left"/>');
                $(this).prepend($(this).prev());
                if ($(this).find('input[type=radio]').is(':not(:checked)')) {
                    $(this).find('img').addClass('blackAndWhite');
                }
            });
            transformEmoticonIntoImage();
        });

        function afficherModalCreateEmoticon() {
            event.preventDefault();
            $('.mini.modal.createEmoticon').modal('show');
        }
    </script>
{% endblock %}
