<div class="chrono">
    <div class="circleTimer">
        <svg width="100" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(110,110)">
                <circle r="100" class="e-c-base"/>
                <g transform="rotate(-90)">
                    <circle r="100" class="e-c-progress"/>
                    <g id="e-pointer">
                        <circle cx="100" cy="0" r="8" class="e-c-pointer"/>
                    </g>
                </g>
            </g>
        </svg>
        <div class="display-remain-time"></div>
    </div>
</div>

<form class="ui form" id="formEnigme">
    <div id="centeredMazes">
        <img src="{{ asset('images/visuoSpatiale/') ~ enigmeRandom.urlImage }}" alt="image enigme" width="80%" style="margin-top: 20px;  text-align:center;">
        <img class="bg-transparent" src="{{ asset('images/divers/tricheur.gif') }}" alt="voile transparent" width="100%" height="80%">
    </div>
    <div class="grouped fields">
        <div class="field">
            <label for="{{ nomInput }}">Réponse :</label>
        </div>
        <div class="inline fields">
            {% set tableauRadio = ['A','B','C','D'] %}
            {% for radio in tableauRadio %}
                <label>
                    <input type="radio" name="{{ nomInput }}" tabindex="0" class="hidden" value="{{ radio }}">
                    {{ radio }}
                </label>
            {% endfor %}
        </div>
    </div>
    <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
</form>
<button class="button" id="submitReponse" onclick="requeteAjaxPostv2('#formEnigme', '#blocEnigme'); playClick()">Envoyer</button>
