{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}
    <div class="ui grid container h100 middle aligned" id="pageResult">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Résultats</h3>
                    <div class="row">
                        <div id="blocEnigme">
                            <p>scoreInterpersonnelle : {{ user.scoreInterpersonnelle }}</p>
                            <p>scoreIntrapersonnelle : {{ user.scoreIntrapersonnelle }}</p>
                            <p>scoreKinesthesique : {{ user.scoreKinesthesique }}</p>
                            <p>scoreLinguistique : {{ user.scoreLinguistique }}</p>
                            <p>scoreMathematique : {{ user.scoreMathematique }}</p>
                            <p>scoreMusicale : {{ user.scoreMusicale }}</p>
                            <p>scoreNaturaliste : {{ user.scoreNaturaliste }}</p>
                            <p>scoreVisuoSpatiale : {{ user.scoreVisuoSpatiale }}</p>
                        </div>
                        <div class="line-drawing-demo">
                            {% include("main/content/brain.html.twig") %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
