{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Résultats{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig") %}

<div class="ui grid container h100 middle aligned" id="pageResult">
    <div class="row">
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div id="htmlToPdf">
                <div class="ui colorApp segment">
                    <h3 class="ui dividing header">Résultats</h3>
                    <div class="ui grid">
                        <div class="row" id="brainResult" style="flex-wrap: nowrap !important;">
                            <div class="sixteen wide mobile sixteen wide tablet eight wide computer column" style="min-width:500px !important;">
                                <div class="line-drawing-demo" id="brainSVG">
                                    {% include("main/content/brain.html.twig") %}
                                </div>
                                <div id="tableauResult"
                                     dataScore-Interpersonnelle="{{ user.scoreInterpersonnelle }}"
                                     dataScore-Intrapersonnelle="{{ user.scoreIntrapersonnelle }}"
                                     dataScore-Kinesthesique="{{ user.scoreKinesthesique }}"
                                     dataScore-Linguistique="{{ user.scoreLinguistique }}"
                                     dataScore-Mathematique="{{ user.scoreMathematique }}"
                                     dataScore-Musicale="{{ user.scoreMusicale }}"
                                     dataScore-Naturaliste="{{ user.scoreNaturaliste }}"
                                     dataScore-VisuoSpatiale="{{ user.scoreVisuoSpatiale }}">
                                </div>
                            </div>
                            <div class="sixteen wide mobile sixteen wide tablet eight wide computer column" style="min-width:500px !important;">
                                <div id="legend">
                                    <p><i class="fas fa-solid fa-square"></i> <span id="legendInterpersonnelle">Interpersonnelle :</span>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                    <p><i class="fas fa-solid fa-square"></i> <span id="legendIntrapersonnelle">Intrapersonnelle :</span>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                    <p><i class="fas fa-solid fa-square"></i> <span
                                                id="legendKinesthesique">Kinesthésique :</span> Lorem ipsum dolor
                                        sit
                                        amet,
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore
                                        magna
                                        aliqua.</p>
                                    <p><i class="fas fa-solid fa-square"></i> <span id="legendLinguistique">Verbale et Linguistique :</span>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                    <p><i class="fas fa-solid fa-square"></i> <span id="legendMathematique">Logique et Mathématique :</span>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                    <p><i class="fas fa-solid fa-square"></i> <span
                                                id="legendMusicale">Musicale et Rythmique :</span> Lorem ipsum dolor
                                        sit
                                        amet,
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore
                                        magna
                                        aliqua.</p>
                                    <p><i class="fas fa-solid fa-square"></i> <span
                                                id="legendNaturaliste">Naturaliste :</span>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                    <p><i class="fas fa-solid fa-square"></i> <span id="legendVisuoSpatiale">Visuelle et Spatiale :</span>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                        <div id="playAgainButton" style="text-align: right">
                            <a class="ui button link" id="#submitReponse" href="{{ path('main') }}"
                               onclick="playClick()">Rejouer !</a>
                        </div>
                    </div>
                </div>
                <div class="ui colorApp segment">
                    <h4 class="ui dividing header">Partager mes résultats !</h4>
                    <button class="ui circular twitter icon button" data-url="http://www.rdvnomade.fr/result"
                            onclick="shareSocialNetworks()">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui circular facebook icon button" data-url="http://www.rdvnomade.fr/result"
                            onclick="shareSocialNetworks()">
                        <i class="facebook icon"></i>
                    </button>
                    <button class="ui circular linkedin icon button" data-url="http://www.rdvnomade.fr/result"
                            onclick="shareSocialNetworks()">
                        <i class="linkedin icon"></i>
                    </button>
                    <button class="ui circular icon button" onclick="generatePDF()" title="Télécharger en format PDF">
                        <i class="fas fa-download"></i></button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
