{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Résultats{% endblock %}

{% block body %}
    {% include("inc/brainAnimation.html.twig")%}

    <div class="ui grid container h100 middle aligned" id="pageResult">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet ten wide computer centered column">
                <div id="htmlToPdf">
                    <div class="ui colorApp segment">
                        <h3 class="ui dividing header">Résultats</h3>
                        <div class="row">
                            <div id="testSVG">
                                <div class="line-drawing-demo" id="brainSVG">
                                    {% include("main/content/brain.html.twig") %}
                                </div>
                                <div id="tableauResult"
                                     dataScore-Interpersonnelle="{{ user.scoreInterpersonnelle }}"
                                     dataScore-Intrapersonnelle="{{ user.scoreIntrapersonnelle }}"
                                     dataScore-Kinesthesique="{{ user.scoreKinesthesique }}"
                                     dataScore-Linguistique="{{ user.scoreLinguistique }}"
                                     dataScore-Mathematique="{{ user.scoreMathematique }}"
                                     dataScore-Musicale="{{ user.scoreMusicale }}"
                                     dataScore-Naturaliste="{{ user.scoreNaturaliste }}"
                                     dataScore-VisuoSpatiale="{{ user.scoreVisuoSpatiale }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui colorApp segment">
                    <h4 class="ui dividing header">Partager mes résultats !</h4>
{#                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.rdvnomade.fr/public/result" target="_blank" class="ui circular facebook icon button" title="Partager sur Facebook"></a>#}
                    <button class="ui circular facebook icon button" title="Partager sur Facebook"
                            onclick=window.location.href="https://www.facebook.com/sharer/sharer.php?u=http://www.rdvnomade.fr/public/result">
                        <i class="facebook icon"></i>
                    </button>
                    <button class="ui circular twitter icon button" title="Partager sur Twitter"
                            onclick=window.location.href="https://twitter.com/intent/tweet?url=http://www.rdvnomade.fr/public/result&text=">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui circular linkedin icon button" title="Partager sur LinkedIn"
                            onclick=window.location.href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.rdvnomade.fr%2Fpublic%2Fresult&title=test+test">
                        <i class="linkedin icon"></i>
                    </button>
                    <button class="ui circular icon button" onclick="generatePDF()" title="Télécharger en format PDF"><i
                                class="fas fa-download"></i></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
