{% extends 'base.html.twig' %}

{% block title %}Les talents de {{ app.user.username }} | Logico-Mathématique{% endblock %}

{% block body %}
    <h1>{{ parent() }}</h1>
    <h2>Nom du jeu énigmes LogicoMathématiques</h2>

    {# Afficher image de l'énigme #}
    <section>
        <form id="formEnigme">
            <div id="blockEnigme">
                <img src="{{ enigmeRandom.urlImage }}" alt="">
                <label for="reponseUtilisateur">Votre réponse :</label>
                <input type="text" name="reponseFacile" required="required" id="reponseUtilisateur">
                <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
            </div>
            <button id="buttonEnvoyer">Envoyer</button>
        </form>
    </section>
    {# Input = formulaire pour enregistrement en BDD #}

    {#  <a href="{{ path('#') }}" title="Test suivant"></a> {# Lien déguisé en bouton pour aller vers verbolinguistique ? #}
{% endblock %}

{% block javascripts %}
    <script>
        requeteAjaxPost('#formEnigme','#buttonEnvoyer', 'click', '#blockEnigme', false);
    </script>
{% endblock %}
