{% extends 'base_admin.html.twig' %}

{% block title %}Admin Gestion{% endblock %}

{% block body %}
    <a href="{{ path('interpersonnelle_create') }}"><i class="plus circle big icon"></i></a>

    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Création Emicone</h3>
                    {{ form_start(emoticonForm) }}
                    <div class="field">
                        {{ form_row(emoticonForm.label) }}
                    </div>
                    <div class="field">
                        {{ form_row(emoticonForm.image) }}
                    </div>
                    <div class="field">
                        {{ form_row(emoticonForm.save) }}
                    </div>
                    {{ form_end(emoticonForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid stackable padded">
        <div class="row">
            <div class="column">
                <div class="ui four stackable doubling cards">
                    {% for enigme in tableauEnigmes %}
                        <div class="card">
                            {% for index, element in ['green', 'orange', 'red'] %}
                                {% if enigme.levelOfDifficulty.id == index + 1 %}
                                    <div class="ui {{ element }} right corner label">
                                        <i class="balance scale icon"></i>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <iframe width="100%" height="250" src="https://www.youtube.com/embed/N5mV3fOl3hU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="extra content">
                                <span class="right floated">
                                    <a href="{{ path('interpersonnelle_update', {'id': enigme.id }) }}"><i class="edit icon"></i></a>
                                </span>
                                <span>Id : {{ enigme.id }}, Solution : {{ enigme.solution.label }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
