{% extends 'admin/layouts/gabarit.html.twig' %}

{% set nameEnigme = 'Interpersonnelle' %}
{% set nameEnigmeRoute = 'interpersonnelle' %}

{#{% block formAnnexe %}#}
{#    <div class="eight wide column">#}
{#        <div class="ui segment">#}
{#            <h3 class="ui dividing header">Création Émoticône</h3>#}
{#            {{ form_start(emoticonForm) }}#}
{#            <div class="field">#}
{#                {{ form_row(emoticonForm.label) }}#}
{#            </div>#}
{#            <div class="field">#}
{#                {{ form_row(emoticonForm.image) }}#}
{#            </div>#}
{#            <div class="field">#}
{#                {{ form_row(emoticonForm.save) }}#}
{#            </div>#}
{#            {{ form_end(emoticonForm) }}#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% block visuel %}
    <iframe width="100%" height="250" src="{{ enigme.urlVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}

{% block solution %}
    {{ enigme.solution.label }}
{% endblock %}
