{% extends 'admin/layouts/gabarit.html.twig' %}

{% set nameEnigme = 'Kinesthesique' %}
{% set nameEnigmeRoute = 'kinesthesique' %}

{% block visuel %}
    <div class="ui fluid image oneImageInOneBox">
        <div class="text_kinesthesique_admin_dashboard">{{ enigme.question }}</div>
    </div>
    <div class="ui fluid image oneImageInOneBox">
        <div class="text_kinesthesique_admin_dashboard">{{ enigme.answer1 }}</div>
        <div class="text_kinesthesique_admin_dashboard">{{ enigme.answer2 }}</div>
        <div class="text_kinesthesique_admin_dashboard">{{ enigme.answer3 }}</div>
    </div>
{% endblock %}

{% block solution %}
    {{ enigme.solution }}
{% endblock %}
