{% extends 'admin/layouts/gabarit.html.twig' %}

{% set nameEnigme = 'Naturaliste' %}
{% set nameEnigmeRoute = 'naturaliste' %}

{% block visuel %}
    <div class="fourImagesInOneBox">
        <img src="{{ asset('images/naturaliste/') ~ enigme.urlImage1 }}" alt="image enigme">
        <img src="{{ asset('images/naturaliste/') ~ enigme.urlImage2 }}" alt="image enigme">
        <img src="{{ asset('images/naturaliste/') ~ enigme.urlImage3 }}" alt="image enigme">
        <img src="{{ asset('images/naturaliste/') ~ enigme.urlImage4 }}" alt="image enigme">
    </div>
{% endblock %}

{% block solution %}
    {{ enigme.solution }}
{% endblock %}
