{% extends 'base_admin.html.twig' %}

{% block title %}Modifier énigme Visuo-Spatiale{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Modification</h3>
                    {{ form_start(visuoSpatialeForm) }}
                    <div class="field">
                        <img src="{{ asset('images/visuoSpatiale/') ~ visuoSpatiale.urlImage }}" alt="image enigme" width="100%">
                        {{ form_row(visuoSpatialeForm.image) }}
                    </div>
                    <div class="field">
                        {{ form_row(visuoSpatialeForm.solution) }}
                    </div>
                    <div class="field">
                        {{ form_row(visuoSpatialeForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(visuoSpatialeForm.save) }}

                    </div>
                    {{ form_end(visuoSpatialeForm) }}
                    <button onclick="afficherModalDelete()" class="ui button">Supprimer</button>
                </div>
            </div>
            {#modal#}
            <div class="ui mini modal trash">
                <div class="header">
                    Suppression
                </div>
                <div class="content">
                    <p>Êtes-vous sûr de vouloir supprimer cette énigme</p>
                </div>
                <div class="actions">
                    <div class="ui negative button">
                        Non
                    </div>
                    <a class="ui positive right labeled icon button" href="{{ path('visuoSpatiale_delete', {'id': visuoSpatiale.id }) }}">
                        Oui
                        <i class="checkmark icon"></i>
                    </a>
                </div>
            </div>
            {#modal#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
