{% extends 'base_admin.html.twig' %}

{% block title %}Admin {{ nameEnigme }}{% endblock %}

{% block body %}
    <div class="ui grid stackable padded">
        <div class="row">
            <div class="eight wide column">
                {% block header %}{% endblock %}
                <h1>Gestion des énigmes {{ nameEnigme }}</h1>
                <a class="ui right labeled icon button" href="{{ path( nameEnigmeRoute ~ '_create') }}">
                    <i class="right plus circle icon"></i>Ajouter une énigme
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui four stackable doubling cards">
                    {% for enigme in tableauEnigmes %}
                        <div class="card">
                            {% if enigme.levelOfDifficulty.id == 1 %}
                                <div class="ui green right corner label">
                                    <i class="thermometer empty icon"></i>
                                </div>
                            {% elseif enigme.levelOfDifficulty.id == 2 %}
                                <div class="ui orange right corner label">
                                    <i class="thermometer half icon"></i>
                                </div>
                            {% elseif enigme.levelOfDifficulty.id == 3 %}
                                <div class="ui red right corner label">
                                    <i class="thermometer full icon"></i>
                                </div>
                            {% endif %}
                            {% block visuel %}{% endblock %}
                            <div class="extra content">
                                <span class="right floated">
                                    <a href="{{ path(nameEnigmeRoute ~ '_update', {'id': enigme.id }) }}"><i class="edit icon"></i></a>
                                </span>
                                <span>Id : {{ enigme.id }} // Solution : {% block solution %}{% endblock %}</span>
                                <span class="solutionImage">{% block solutionImage %}{% endblock %}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
