<fieldset class="rating">
    <legend>{{ competence | capitalize }}</legend>
    <input type="radio" id="{{ competence }}_star4" name="{{ competence }}" value="4"/><label class="full" for="{{ competence }}_star4"></label>
    <input type="radio" id="{{ competence }}_star3" name="{{ competence }}" value="3"/><label class="full" for="{{ competence }}_star3"></label>
    <input type="radio" id="{{ competence }}_star2" name="{{ competence }}" value="2"/><label class="full" for="{{ competence }}_star2"></label>
    <input type="radio" id="{{ competence }}_star1" name="{{ competence }}" value="1"/><label class="full" for="{{ competence }}_star1"></label>
</fieldset>
