{% extends 'base_admin.html.twig' %}

{% block title %}Création énigme Verbo-Linguistique{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Création</h3>
                    {{ form_start(linguistiqueForm) }}
                    <div class="field">
                        {{ form_row(linguistiqueForm.text) }}
                    </div>
                    <div class="field">
                        {{ form_row(linguistiqueForm.solution) }}
                        <button onclick="afficherModalCreatePicto()" class="ui button mini">Gestion des Pictogrammes
                        </button>
                    </div>
                    <div class="field">
                        {{ form_row(linguistiqueForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(linguistiqueForm.save) }}
                    </div>
                    {{ form_end(linguistiqueForm) }}
                </div>
            </div>
            {# modal #}
            {% include("linguistique/content/modalPicto.html.twig") %}
            {# modal #}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#linguistique_form_solution label').each(function () {
                let urlImage = $(this).text();
                $('<img width="80px" height="80px" src="{{ asset('images/linguistique_pictos/') }}' + urlImage + '" alt="image pictogramme"/>').insertAfter($(this));
                $(this).text('');
            });
        });

        function afficherModalCreatePicto() {
            event.preventDefault();
            $('.mini.modal.createPicto').modal('show');
        }
    </script>
{% endblock %}
