{% extends 'base.html.twig' %}

{% block title %}Les talents de {{ app.user.username }} | Verbo-Linguistique{% endblock %}

{% block body %}

    <div class="title">
        <h1>Les talents de {{ app.user.username }}</h1>
        <h2>Nom du jeu énigmes Verbo-linguistiques</h2>
    </div>
    <section>
        <div id="blockEnigme">
            <form id="formEnigme">
                <p>{{ enigmeRandom.text }}</p>
                <label for="reponseUtilisateur">Placez les pictos dans le bon ordre :</label>


                {# Emplacements vides #}
                <div class="droppable-elements" ondrop="drop(event)" ondragover="allowDrop(event)">
                    {% for picto in enigmeRandom.solution %}
                        <div class="droppable" ondrop="dropSave(event)" ondragover="allowDrop(event)"
                             data-draggable-id={{ loop.index0 }}></div>
                    {% endfor %}
                </div>

                {# Pictos : tous ceux de la BDD #}
                <div class="draggable-elements" ondrop="drop(event)" ondragover="allowDrop(event)">
                    {% for picto in allPictos %}
                        <div class="picto" ondragstart="dragStart(event)"
                             draggable="true" id="{{ picto.id }}"
                             data-src="{{ picto.urlImage }}">{{ picto.label }}</div>
                    {% endfor %}
                </div>

                {% block javascripts %}
                    <script>
                        $('.picto').each(function () {
                            let urlPicto = $(this).data('src');
                            let pictoImage = urlPicto.trim();
                            $('<img width="75px" src="{{ asset('images/linguistique_pictos/') }}' + pictoImage + '" alt="image picto"/>').insertAfter($(this));
                            $(this).remove();
                        });
                    </script>
                {% endblock %}


                {# {% block javascripts %} #}
                {# <script> #}
                {# $('.picto').each(function () { #}
                {# let urlImage = $(this).text().trim(); #}
                {# $('<img width="75px" src="{{ asset('images/linguistique_pictos/') }}' + urlImage + '" alt="image picto"/>').insertAfter($(this)); #}
                {# $(this).remove(); #}
                {# }); #}
                {# </script> #}
                {# {% endblock %} #}


                {# <div class="draggable-elements" ondrop="drop(event)" ondragover="allowDrop(event)"> #}
                {# <i class="fas fa-cat draggable" ondragstart="drag(event)" draggable="true" style="color: #ff6384;" #}
                {# id="cat"></i> #}
                {# <i class="fas fa-dog draggable" ondragstart="drag(event)" draggable="true" style="color: #36a2eb;" #}
                {# id="dog"></i> #}
                {# <i class="fas fa-dove draggable" ondragstart="drag(event)" draggable="true" style="color: #ffce30;" #}
                {# id="dove"></i> #}
                {# <i class="fas fa-fish draggable" ondragstart="drag(event)" draggable="true" style="color: #9966ff;" #}
                {# id="fish"></i> #}
                {# <i class="fas fa-frog draggable" ondragstart="drag(event)" draggable="true" style="color: #4bc0c0;" #}
                {# id="frog"></i> #}
                {# </div> #}
                <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
            </form>
            <button id="buttonEnvoyer" class="button" onclick="requeteAjaxPostv2('#formEnigme', '#blockEnigme')">
                Envoyer
            </button>
        </div>
        <script>let tableau = new Array({{ enigmeRandom.solution | length }});</script>
        <script src="../templates/linguistique/content/dragAndDropApp.js"></script>

    </section>
{% endblock %}

