{% extends 'base_admin.html.twig' %}

{% block title %}Modifier énigme Verbo-Linguistique{% endblock %}

{% block body %}
    <div class="ui grid container">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Modification</h3>
                    {{ form_start(linguistiqueForm) }}
                    <div class="field">
                        {{ form_row(linguistiqueForm.text) }}
                    </div>
                    <div class="field">
                        {{ form_row(linguistiqueForm.solution) }}
                        <button onclick="afficherModalCreatePicto()" class="ui button mini">Gestion des pictogrammes
                        </button>
                    </div>
                    <div class="field">
                        {{ form_row(linguistiqueForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(linguistiqueForm.save) }}
                    </div>
                    {{ form_end(linguistiqueForm) }}
                </div>
                <button onclick="afficherModalDelete({{ linguistique.id }})" class="ui button">Supprimer</button>
            </div>
            {# modal #}
            <div class="ui mini modal trash">
                <div class="header">
                    Suppression
                </div>
                <div class="content">
                    <p>Êtes-vous sûr de vouloir supprimer cette énigme</p>
                </div>
                <div class="actions">
                    <div class="ui negative button">
                        Non
                    </div>
                    <a class="ui positive right labeled icon button"
                       href="{{ path('linguistique_delete', {'id': linguistique.id }) }}">
                        Oui
                        <i class="checkmark icon"></i>
                    </a>
                </div>
            </div>
            {# modal #}
            {# modal #}
            {% include("linguistique/content/modalPicto.html.twig") %}
            {# modal #}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#linguistique_form_solution label').each(function () {
                let urlImage = $(this).text();
                $('<img width="80px" height="80px" src="{{ asset('images/linguistique_pictos/') }}' + urlImage + '" class="picto" alt="image pictogramme"/>').insertAfter($(this));
                $(this).text('');
                if ($(this).parent().find('input[type=checkbox]').is(':checked')) {
                    $(this).parent().addClass('selected');
                }
            });
            pictoSelection();
        });

        function afficherModalCreatePicto() {
            event.preventDefault();
            $('.mini.modal.createPicto').modal('show');
        }
    </script>
{% endblock %}

