{% extends 'base_admin.html.twig' %}

{% block title %}Création énigme Naturaliste{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Création</h3>
                    {{ form_start(naturalisteForm) }}
                    <div class="two fields">
                        <div class="field">
                            {{ form_label(naturalisteForm.image1) }}
                            {{ form_errors(naturalisteForm.image1) }}
                            {{ form_widget(naturalisteForm.image1) }}
                        </div>
                        <div class="field">
                            {{ form_label(naturalisteForm.image2) }}
                            {{ form_errors(naturalisteForm.image2) }}
                            {{ form_widget(naturalisteForm.image2) }}
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            {{ form_label(naturalisteForm.image3) }}
                            {{ form_errors(naturalisteForm.image3) }}
                            {{ form_widget(naturalisteForm.image3) }}
                        </div>
                        <div class="field">
                            {{ form_label(naturalisteForm.image4) }}
                            {{ form_errors(naturalisteForm.image4) }}
                            {{ form_widget(naturalisteForm.image4) }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form_row(naturalisteForm.solution) }}
                    </div>
                    <div class="field">
                        {{ form_row(naturalisteForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(naturalisteForm.save) }}
                    </div>
                    {{ form_end(naturalisteForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
