{% extends 'base_admin.html.twig' %}

{% block title %}Modifier énigme Naturaliste{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Modification</h3>
                    {{ form_start(naturalisteForm) }}
                    <div class="two fields">
                        <div class="field">
                            {{ form_label(naturalisteForm.image1) }}
                            <img src="{{ asset('images/Naturaliste/') ~ naturaliste.urlImage1 }}" alt="image enigme" width="100%" height="150px" style="object-fit: cover">
                            {{ form_errors(naturalisteForm.image1) }}
                            {{ form_widget(naturalisteForm.image1) }}
                        </div>
                        <div class="field">
                            {{ form_label(naturalisteForm.image2) }}
                            <img src="{{ asset('images/Naturaliste/') ~ naturaliste.urlImage2 }}" alt="image enigme" width="100%" height="150px" style="object-fit: cover">
                            {{ form_errors(naturalisteForm.image2) }}
                            {{ form_widget(naturalisteForm.image2) }}
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            {{ form_label(naturalisteForm.image3) }}
                            <img src="{{ asset('images/Naturaliste/') ~ naturaliste.urlImage3 }}" alt="image enigme" width="100%" height="150px" style="object-fit: cover">
                            {{ form_errors(naturalisteForm.image3) }}
                            {{ form_widget(naturalisteForm.image3) }}
                        </div>
                        <div class="field">
                            {{ form_label(naturalisteForm.image4) }}
                            <img src="{{ asset('images/Naturaliste/') ~ naturaliste.urlImage4 }}" alt="image enigme" width="100%" height="150px" style="object-fit: cover">
                            {{ form_errors(naturalisteForm.image4) }}
                            {{ form_widget(naturalisteForm.image4) }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form_row(naturalisteForm.solution) }}
                    </div>
                    <div class="field">
                        {{ form_row(naturalisteForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(naturalisteForm.save) }}
                    </div>
                    {{ form_end(naturalisteForm) }}
                    <button onclick="afficherModalDelete()" class="ui button">Supprimer</button>
                </div>
            </div>
            {#modal#}
            <div class="ui mini modal trash">
                <div class="header">
                    Suppression
                </div>
                <div class="content">
                    <p>Êtes-vous sûr de vouloir supprimer cette énigme</p>
                </div>
                <div class="actions">
                    <div class="ui negative button">
                        Non
                    </div>
                    <a class="ui positive right labeled icon button" href="{{ path('naturaliste_delete', {'id': naturaliste.id }) }}">
                        Oui
                        <i class="checkmark icon"></i>
                    </a>
                </div>
            </div>
            {#modal#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
