<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}ApplicationTalents{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/divers/flavicon.png') }}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=KoHo:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/rating_stars.css') }}" rel="stylesheet">
    <link href="{{ asset('css/swup.css') }}" rel="stylesheet">
    <link href="{{ asset('css/particles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styleLinguistiqueDragAndDrop.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/sandrine.css') }}">
{#    <script src="linguistique/content/dragAndDropApp.js"></script>#}
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    {% include("inc/message-flash.html.twig") %}
</header>

<div id="particles-js"></div>
<div class="transition-fade" id="swup">
    {% block body %}{% endblock %}
</div>

<footer>
    {% include("inc/footer.html.twig") %}
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
{#<script src="{{ asset('js/particles.js') }}"></script>#}
<script src="{{ asset('js/requeteAjax.js') }}"></script>
<script>
    $(document).ready(function() {
        $('.ui.checkbox').checkbox();

        setTimeout(function(){
            $('.message.auto-close').closest('.message').transition('fade');
        }, 10000 );
    });

    function removeMessage() {
        $('.message.manuel-close').remove();
    }

    // const swup = new Swup();
</script>
{% block javascripts %}{% endblock %}
</body>

</html>
