<form class="ui form" id="formEnigme">
    <div class="field">
        <label>
            <input type="text" value="{{ enigmeRandom.question }}" readonly/>
        </label>
    </div>
    <label for="input">Quelle proposition te correspond le plus :</label>
    <div class="field">
        <label>
            <input type="radio" name="{{ nomInput }}" value="1"/>
            <input type="text" value="{{ enigmeRandom.reponse1 }}" readonly/>
        </label>
    </div>
    <div class="field">
        <label>
            <input type="radio" name="{{ nomInput }}" value="2"/>
            <input type="text" value="{{ enigmeRandom.reponse2 }}" readonly/>
        </label>
    </div>
    <div class="field">
        <label>
            <input type="radio" name="{{ nomInput }}" value="3"/>
            <input type="text" value="{{ enigmeRandom.reponse3 }}" readonly/>
        </label>
    </div>

    <div class="field">
        <label for="input">Quelle proposition te correspond le plus :</label>
        <input type="radio" name="{{ nomInput }}" id="input" value="{{ enigmeRandom.solution }}">
    </div>
    <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
</form>
<button class="button" id="submitReponse" onclick="requeteAjaxPostv2('#formEnigme', '#blocEnigme')">Envoyer</button>
