<form class="ui form" id="formEnigme">
    <iframe width="100%" height="315" src="{{ enigmeRandom.urlVideo }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <div class="inline fields">
        <label for="{{ nomInput }}">Réponse :</label>
        {% for emoticon in tableauChoixEmoticon %}
            <div class="field">
                {#                <div class="ui radio checkbox">#}
                <input type="radio" name="{{ nomInput }}" tabindex="0" class="hidden" value="{{ emoticon.id }}">
                <label>{{ emoticon.urlImage }}--{{ emoticon.label }}</label>
                {#                </div>#}
            </div>
        {% endfor %}
    </div>
    <input type="hidden" name="idEnigme" value="{{ enigmeRandom.id }}">
</form>
<button class="ui button" id="submitReponse" onclick="requeteAjaxPostv2('#formEnigme', '#blocEnigme')">Envoyer</button>
