{% extends 'base_admin.html.twig' %}

{% block title %}Création énigme Musicale{% endblock %}

{% block body %}
    <div class="ui grid container pad" id="pageMusicale">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet ten wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Création</h3>
                    {{ form_start(musicaleForm) }}
                    <div class="field">
                        {{ form_row(musicaleForm.numberOfRows) }}
                    </div>
                    <div class="field">
                        {{ form_row(musicaleForm.numberOfColumns) }}
                    </div>
                    <div class="ui grid">
                        <div class="row">
                            <div class="column">
                                <div class="holderContainer" id="holderContainer" data-col="{{ musicale.numberOfColumns }}" data-row="{{ musicale.numberOfRows }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="eight wide column">
                                <div class="button" id="audio">
                                    <i class="volume up icon"></i>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="button" id="reset">
                                    <i class="redo alternate icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        {{ form_row(musicaleForm.solution) }}
                    </div>
                    <div class="field">
                        {{ form_row(musicaleForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(musicaleForm.save) }}
                    </div>
                    {{ form_end(musicaleForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
