{% extends 'base_admin.html.twig' %}

{% block title %}Modifier énigme Musicale{% endblock %}

{% block body %}
    <div class="ui grid container" id="pageMusicale">
        <div class="row">
            <div class="sixteen wide mobile ten wide tablet six wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Modification</h3>
                    {{ form_start(musicaleForm) }}
                    <div class="field">
                        {{ form_row(musicaleForm.numberOfColumns) }}
                    </div>
                    <div class="ui grid">
                        <div class="row centered">
                            <div class="fifteen wide column aligned">
                                <div class="row centered">
                                    <div class="fifteen wide column">
                                        <div class="holderContainer" id="holderContainer" data-col="{{ musicale.numberOfColumns }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <div class="touchPad colorGradient0 cursor" data-note="0"><div class="ripple"></div><div class="ui bottom attached label"><i class="plus icon cursor"></i>Ajouter</div></div>
                                        <div class="touchPad colorGradient1 cursor" data-note="1"><div class="ripple"></div><div class="ui bottom attached label"><i class="plus icon cursor"></i>Ajouter</div></div>
                                        <div class="touchPad colorGradient2 cursor" data-note="2"><div class="ripple"></div><div class="ui bottom attached label"><i class="plus icon cursor"></i>Ajouter</div></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <div class="touchPad colorGradient3 cursor" data-note="3"><div class="ripple"></div><div class="ui bottom attached label"><i class="plus icon cursor"></i>Ajouter</div></div>
                                        <div class="touchPad colorGradient4 cursor" data-note="4"><div class="ripple"></div><div class="ui bottom attached label"><i class="plus icon cursor"></i>Ajouter</div></div>
                                        <div class="touchPad colorGradient5 cursor" data-note="5"><div class="ripple"></div><div class="ui bottom attached label"><i class="plus icon cursor"></i>Ajouter</div></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <div class="ui basic button" style="width: 50%; font-size: 0.9em;">
                                            <div class="item" id="play">
                                                <i class="play icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        {{ form_row(musicaleForm.solution) }}
                    </div>
                    <div class="field">
                        {{ form_row(musicaleForm.levelOfDifficulty) }}
                    </div>
                    <div class="field">
                        {{ form_row(musicaleForm.save) }}
                    </div>
                    {{ form_end(musicaleForm) }}
                    <button onclick="afficherModalDelete()" class="ui button">Supprimer</button>
                </div>
            </div>
            {#modal#}
            <div class="ui mini modal trash">
                <div class="header">
                    Suppression
                </div>
                <div class="content">
                    <p>Êtes-vous sûr de vouloir supprimer cette énigme</p>
                </div>
                <div class="actions">
                    <div class="ui negative button">
                        Non
                    </div>
                    <a class="ui positive right labeled icon button" href="{{ path('musicale_delete', {'id': musicale.id }) }}">
                        Oui
                        <i class="checkmark icon"></i>
                    </a>
                </div>
            </div>
            {#modal#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
