{% if app.user and app.user.roles == ['ROLE_ADMIN'] %}
    <div class="ui mini bottom fixed menu">
        <div class="right menu">
            <div class="item">
                <a class="item" href="{{ path('admin_dashboard') }}">Espace admin</a>
                <a class="item" href="{{ path('main') }}">Accueil</a>
                <a class="item" href="{{ path('interpersonnelle') }}">Interpersonnelle</a>
                <a class="item" href="{{ path('intrapersonnelle') }}">Intrapersonnelle</a>
                <a class="item" href="{{ path('linguistique') }}">Linguistique</a>
                <a class="item" href="{{ path('mathematique') }}">Mathematique</a>
                <a class="item" href="{{ path('musicale') }}">Musicale</a>
                <a class="item" href="{{ path('naturaliste') }}">Naturaliste</a>
                <a class="item" href="{{ path('visuoSpatiale') }}">VisuoSpatiale</a>
                <a class="item" href="{{ path('result') }}">Résultat</a>
                <a class="item" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>
    </div>
{% endif %}

<div class="ui vertical labeled icon bottom fixed menu">
    <button class="item" id="audioBackgroundButton" onclick="onOffAudioBackground()"><i class="volume up icon"></i></button>
    {% if app.user == false %}
        <a class="item" href="{{ path('app_login_admin') }}">Admin</a>
    {% endif %}
</div>
