<!-- top nav -->
<nav class="ui top fixed inverted menu">
    <div class="left menu">
        <a href="#" class="sidebar-menu-toggler item" data-target="#sidebar"><i class="sidebar icon"></i></a>
        <a href="{{ path('admin_dashboard') }}" class="header item">ApplicationTalents</a>
    </div>
    <div class="right menu">
        <a href="{{ path('app_logout') }}" class="item"><i class="sign-out icon"></i></a>
    </div>
</nav>
<!-- top nav -->

<!-- sidebar -->
<div class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar">
    <div class="item">
        <div class="header">
            Général
        </div>
        <div class="menu">
            <a class="item" href="{{ path('admin_dashboard') }}">
                <div><i class="icon tachometer alternate"></i>Tableau de bord</div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">
            Enigmes
        </div>
        <div class="menu">
            <a class="item" href="{{ path('admin_interpersonnelle') }}">
                <div><i class="user icon"></i>Interpersonnelle</div>
            </a>
            <a class="item" href="{{ path('admin_linguistique') }}">
                <div><i class="language icon"></i>Linguistique</div>
            </a>
            <a class="item" href="{{ path('admin_mathematique') }}">
                <div><i class="calculator icon"></i>Mathématique</div>
            </a>
            <a class="item" href="{{ path('admin_naturaliste') }}">
                <div><i class="tree icon"></i>Naturaliste</div>
            </a>
            <a class="item" href="{{ path('admin_visuoSpatiale') }}">
                <div><i class="map signs icon"></i>Visuo-Spatiale</div>
            </a>
        </div>
    </div>

    <a href="{{ path('admin_dashboard') }}" class="item">
        <div>
            <i class="icon chart line"></i>
            Statistiques
        </div>
    </a>
</div>
<!-- sidebar -->
